/* PAGE ANIMATIONS */
.fade-out {
  animation: 1s fadeout ease forwards;
}
.fade-in {
  animation: 1s fadein ease forwards;
}

@keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
